.search
	form([formGroup]='searchForm')
		.search__container
			.search__square
				.search__select
					select(formControlName='category', (change)='setCategory()')
						option(*ngFor='let category of search.categories', [ngValue]='category') {{category}}
						//- option Select Category +						
					//- .search__mask
						//- h4 {{vm.search.category || 'Category'}} 
						//- #[span.fas.fa-caret-down]

			.search__square
				.search__select
					select(formControlName='sub_category', (change)='setSubCategory()')
						option(*ngFor='let sub_category of search.sub_categories', [ngValue]='sub_category') {{sub_category}}
						//- option Select Sub-Category +
					//- .search__mask
						//- h4 {{search.medium || 'Medium'}} 
						//- #[span.fas.fa-caret-down]

			.search__filter
				input(formControlName='filter', placeholder='')

			.search__reset((click)='resetSearchForm()')
				<fa-icon [icon]='faTimes' class='fa-times'></fa-icon>

		.search__tag((click)='resetSearchForm()')
			<fa-icon [icon]='faTimes' class='fa-times'></fa-icon>

.listings
	.listing(*ngFor='let project of projects | categoryFilter: searchForm.get("category").value | subCategoryFilter: searchForm.get("sub_category").value | textFilter: searchForm.get("filter").value')
		.listing__image
			img([src]='project.images.thumb | composeBase64ImagePipe')

		.listing__content
			.listing__title
				h1 {{project.title}}
	
			//- .listing__square.price
			//- 	.listing__caption
			//- 		.listing__center
			//- 			h5 Price
			//- 	h2 {{'$' + ((project.price/100) | number)}}
	
			.listing__square.category
				.listing__caption
					.listing__center
						h5 Category
				h2 {{project.category}}
						
			.listing__square.author
				.listing__caption
					.listing__center
						h5 Author
				h2 {{project.creator.name}}
	
			//- .listing__square.sku
			//- 	.listing__caption
			//- 		.listing__center
			//- 			h5 SKU
			//- 	h2 {{project.sku}}
	
			.listing__square
				p {{project.description.summary}}
	
			.listing__buttons
				.listing__button.red
					//- (ui-sref='app.project.view.purchase.transaction.detail({clean: project.clean})')
					h4 Buy Now
	
				.listing__button((click)='viewProject(project.clean)')
					h4 Learn More
	//- 
	//- .empty
	//- 	//- (data-ng-hide='(vm.products | categoryFilter: vm.search.category | filter: {title: vm.search.filter} | orderBy: "sku").length')
	//- 	.empty__title
	//- 		h1 Nothing Matches Your Search Values!
	//- 	p Please feel free to contact us if you need any help or have any questions? #[a(href='mailto:support@thecompany.com') support@thecompany.com]
